{% extends "patronato/base.html" %}
{% load staticfiles %}
{% block page_id %}casco{% endblock %}
{% block title %}Noticias{% endblock %}
{% block page_header %}Noticias{% endblock %}

{% block content %}

{% if noticias_list %}
    {% for n in noticias_list %}
    <article>
        <h5>Noticia {{ n.id }}. <time>{{ n.fecha }}</time></h5>
        <h1>{{ n.titulo }}</h1>
        <h2>{{ n.extracto }}</h2>
        {% autoescape off %}
            {{ n.descripcion | linebreaks }}
        {% endautoescape %}

        <p>
            <sub>Fuente: {{ n.fuente }}</sub>
        </p>
    </article>
    {% endfor %}
{% else %}
    <article>
        <h1>Sin noticias</h1>
        <h2>Próximamente nuevas noticias....</h2>
    </article>
{% endif %}
{% endblock %}